[user]
    name = Georgios Koloventzos
    email = georgios.koloventzos@esperantotech.com

[alias]
    lg = "log --graph\n--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)\n%C(bold blue)&lt;%an&gt;%Creset' --abbrev-commit --date=relative"
    df = "diff --color"
    pure = "pull --rebase"
    co = 'commit'
    ch = 'checkout'
    st = 'status'
    last = "reset --soft HEAD~"
    cd = "checkout master"
    staged = "diff --cached"
    subclone = "clone --recursive"

[push]
	default = upstream
    followTags = true
[core]
	pager = less -x1,5
	excludesfile = /home/gkolov/.gitignore_global
[http]
	proxy = http://sc-squid-sw.esperanto.ai:3128
